.signup {
  font-size: 1.5em;
  &_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 500px;
    &_pseudo,
    &_email,
    &_password {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 700px) {
  .signup_form div {
    flex-direction: column;
  }
}
