@use "../../styles/vars";

.signin {
  width: 50%;
  min-height: 500px;
  min-width: 500px;
  padding: 1em;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  &_form {
    border: 1px solid vars.$secondary-color;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    & div {
      width: 70%;
      display: flex;
      justify-content: space-between;
    }
  }
}


@media screen and (max-width: 700px) {
  .signin_form div {
    flex-direction: column;
  }
}
