@use "../../styles/vars";

.searchList {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    height: 80%;
    &_form {
        width: 50%;
        height: 50%;
        border: 1px solid vars.$secondary-color;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        &_input {
            font-size: 1.5em;
        }

        &_result {
            font-size: 2em;
            border: 1px solid vars.$secondary-color;
            padding: 0.5em 1em;

            &:hover {
                cursor: pointer;
                background-color: vars.$secondary-color;
                color: vars.$primary-color;
            }
        }

        &_noResult {
            font-size: 2em;
        }
    }
}