.list-movies {
  margin-top: 2em;
  padding: 2em;
  width: 50%;
  background-color: grey;
  text-align: center;

  & th {
    padding: 1.5em;
    font-size: 2em;
    text-transform: uppercase;
    &:hover {
      background-color: lightgray;
      cursor: pointer;
    }
  }

  & td {
    padding: 1em;
  }
}


@media screen and (max-width: 600px) {

  .list-movies{
    min-width: 80%;
  }

  table thead {
    display: none;
  }
  
  table tr {
    border-bottom: 2px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: .625em;
  }
  
  
  table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    }
  
}

