@use "reset";
@use "vars";
@import url("https://fonts.googleapis.com/css2?family=Mandali&display=swap");


@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

body {
  font-family: "Mandali", sans-serif;
  background-color: vars.$primary-color;
  color: vars.$secondary-color;
  height: 100vh;
}


button {
  margin: 1em;
  background-color: vars.$secondary-color;
  border: 1px solid vars.$secondary-color;
  border-radius: 28px;
  cursor: pointer;
  color: vars.$primary-color;
  font-size: 17px;
  padding: 16px 31px;
  transition: color 0.2s, background-color 0.2s;
  &:hover {
    background-color: vars.$primary-color;
    color: vars.$secondary-color;
    border: 1px solid vars.$secondary-color;
  }

}

form button{
  border-radius: 0;
  transition: color 0s, background-color 0s;
  &:hover {
    background-color: vars.$primary-color;
    color: vars.$secondary-color;
    border: 1px solid vars.$secondary-color;
  }
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
