.carnet{
    height: 100vh;
    background-image: url("../../image/fond.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    &_title{
        color: white;
        font-size: 3em;
        padding: 1em;
    }

    &_main{
        width : 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
}

