.home{
    margin-top: 3em;
    max-width : 100%;
    &_welcome{
        margin:2em;
        text-align: center;
        font-size: 2em;
    }
    &_buttons{
        display: flex;
        justify-content: space-around;
    }
}