.home{
    margin-top: 3em;
    width : 50%;
    min-width: 550px;
    &_welcome{
        margin:2em;
        text-align: center;
        font-size: 2em;
    }
    &_buttons{
        display: flex;
        justify-content: space-around;
    }
}