.home {
  margin-top: 5em;
  &_buttons {
    display: flex;
    justify-content: space-around;
  }
}

#video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;

}

.signin, .signup {
  position: fixed;
  right: 5em;
  bottom: 8em;
  font-size: 1.5em;
  opacity: 1;
  transition: opacity 0.5s linear;
  &.hidden {
    visibility: hidden;
    opacity: 0;
  }
  &_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 500px;
    &_pseudo,
    &_password {
      display: flex;
      justify-content: space-between;
    }
  }
}


@media screen and (max-width: 700px) {
  .signin_form div {
    flex-direction: column;
  }
}



@media screen and (max-width: 700px) {
  .signup_form div {
    flex-direction: column;
  }
}