@font-face {
    font-family: "middleearth";
    src: url("/src/fonts/middleearth.ttf") format("truetype");
  }
  @font-face {
    font-family: "disney";
    src: url("/src/fonts/disney.ttf") format("truetype");
  }
  @font-face {
    font-family: "harry";
    src: url("/src/fonts/harry.ttf") format("truetype");
  }

.carnet_header {
    padding: 1em;
    &_title {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 5em;
      &_carnet {
        font-family: "Middleearth";
      }
      &_de {
        font-family: "Harry";
      }
      &_film {
        font-family: "Disney";
      }
    }
  }